body {
  font-family: Oswald;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  background-color: #444;
  color: #fff;
}

h1, h2 {
  font-weight: 300;
}

MyBody {
  margin-top: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
